:root {
    --white: #ffffff;
    --black: #000000;
    --primary: #1e87f0;
    --warning-5: #ff5a00;
    --warning-6: #ff6a00;
    --br: 4px;

    --uikit-animationDur: 200ms;
}

* {
    box-sizing: border-box;
}

.uk-light .uk-icon-link {
    color: var(--white);
    transition: color 0.25s ease;
}

.uk-light .uk-icon-link:hover {
    color: var(--black);
}

.uk-section-primary {
    background: linear-gradient(to left, #1e87f0, #1e87f0);
}

.nutIcon {
    padding-right: 1em;
    display: none;
}

.uk-table-hover tbody tr:hover,
.uk-table-hover > tr:hover {
    background: linear-gradient(to right, #e9f6fe, #d4edfd);
}

table.tableSorter th div.sortArrow {
    width: 11px;
    height: 6px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: 2px;
    position: relative;
}

table.tableSorter th div.sortArrow div.sortArrowAscending,
table.tableSorter th div.sortArrow div.sortArrowDescending {
    position: absolute;
    display: none;
    width: 15px;
    height: 15px;
    top: -5px;
}

table.tableSorter th div.sortArrow div.sortArrowAscending {
    background: url("/images/down_arrow.svg") no-repeat;
}

table.tableSorter th div.sortArrow div.sortArrowDescending {
    background: url("/images/up_arrow.svg") no-repeat;
}

.uk-notification-message {
    font-size: unset;
}

.uk-notification-message p {
    margin: 6px 0;
}

.editable-cell {
    cursor: pointer;
    width: fit-content;
}

.editorActions {
    min-height: 3em;
    padding: 0.4em;
    padding-bottom: 0;
}

.editorActions::before {
    display: inline;
    justify-content: center;
    content: "";
    position: absolute;
    width: 55%;
    bottom: 0;
    right: 4px;
    border-radius: var(--br);
    /* border-bottom: 4px solid pink; */
    transition: border-color var(--uikit-animationDur) ease-in-out;
}

.okBorder {
    border-color: var(--primary);
}

.dangerBorder {
    border-color: var(--warning-5);
}

.ace_scrollbar::-webkit-scrollbar,
.ace_scrollbar::-webkit-scrollbar:horizontal {
    width: 0.6em;
    height: 0.6em;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.ace_scrollbar::-webkit-scrollbar-track {
    /* background: #1e87f0; */
    /* background: #fff; */
    /* margin-left: 2px; */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

.ace_scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #1eb4fa, #1e87fe);
}

.ace_scrollbar::-webkit-scrollbar-thumb:horizontal {
    /* background-color: #fff; */
    background: linear-gradient(to top, #1eb4fa, #1e87fe);
    /* outline: 1px solid slategrey; */
}

.uk-tile {
    padding: 5px 10px;
}

p {
    margin: 16px 0;
}

.p0 {
    padding: 0 !important;
}

.editorDims {
    height: 250px;
    border-radius: 10px;
}

.validator {
    position: absolute;
    z-index: 1000;
    top: 1.5em;
    right: 2.5em;
    transition: background-color 0.2s ease-in-out;
}

.error {
    background: var(--warning-6);
}
.error-text {
    color: var(--warning-5);
}

.uk-form-danger,
.uk-form-danger:focus {
    border-width: 2px;
    border-color: var(--warning-6);
    color: var(--warning-5);
}

.overflow-x {
    overflow-y: hidden;
    overflow-x: auto;
}

.uk-input {
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.uk-tooltip {
    font-size: 14px;
}

table,
tbody,
tr,
tr th,
tr td,
.editable,
.cellCont {
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.cellCont {
    position: relative;
}

.minRowHeight {
    height: 65px !important;
    min-height: 65px !important;
}

.cell-inherit-height {
    height: inherit;
}

/* .app_editor_wrapper {
    background-color: #cccccc;
    border-bottom: 4px solid white;
    border-radius: 4px;
} */

.app_editor_dragbar {
    background-color: #222222;
    width: 80%;
    height: 4px;
    cursor: row-resize;
    opacity: 1;

    margin: 4px auto;

    border-radius: 4px 4px 50px 50px;
}

button.uk-button {
    border-radius: var(--br);
}

.specifyBorderRadius {
    border-radius: var(--br);
}

.uk-position-cover {
    z-index: 1000;
}

.syntaxBox {
    margin: 0;
    overflow: visible;
    font: inherit;
    display: inline-block;
    box-sizing: border-box;
    font-size: 0.875rem;
    text-align: center;
    padding: 0 1.5em;
    line-height: 2.5em;
    border: 2px solid #ff6f00;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
        rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border-radius: var(--br);
}

.syntaxBox svg {
    color: #ff6f00 !important;
}

.editorButton {
    text-transform: initial;
    padding: 0 1.5em;
    line-height: 2.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
        rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    transition: border var(--uikit-animationDur) ease-out,
        border-color var(--uikit-animationDur) ease-out,
        width var(--uikit-animationDur) ease-out;
}

.editorButton:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
        rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.okColor svg {
    color: var(--primary);
}

.warningColor svg {
    color: #ff6f00;
}

.pb2px {
    padding-bottom: 2px;
}

.mr4px {
    margin-right: 4px;
}

.mb6px {
    margin-bottom: 6px;
}

.mb12px {
    margin-bottom: 12px;
}

.ml2px {
    margin-left: 2px;
}

.ml4px {
    margin-left: 4px;
}

.icon-pb2px > svg {
    padding-bottom: 2px;
}

.text {
    color: rgb(51, 51, 51);
}

/* 
 */
