:root {
    --white: #ffffff;
    --black: #000000;
    --primary-light: #28a5f5;
    --primary: #1e87f0;
    --warning-md-500: #fdc251;
    --danger-5: #ff5a00;
    --danger-6: #ff6a00;
    --br: 4px;
    --brCard: 0.5em;

    --uikit-animationDur: 200ms;
}

* {
    box-sizing: border-box;
}

.uk-light .uk-icon-link {
    color: var(--white);
    transition: color 0.25s ease;
}

.uk-light .uk-icon-link:hover {
    color: var(--black);
}

.uk-section-primary {
    background: linear-gradient(to left, #1e87f0, #1e87f0);
}

.nutIcon {
    padding-right: 1em;
    display: none;
}

.uk-table-hover tbody tr:hover,
.uk-table-hover > tr:hover {
    background: linear-gradient(to right, #e9f6fe, #d4edfd);
}

table.tableSorter th div.sortArrow {
    width: 11px;
    height: 6px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: 2px;
    position: relative;
}

table.tableSorter th div.sortArrow div.sortArrowAscending,
table.tableSorter th div.sortArrow div.sortArrowDescending {
    position: absolute;
    display: none;
    width: 15px;
    height: 15px;
    top: -5px;
}

table.tableSorter th div.sortArrow div.sortArrowAscending {
    background: url("/images/down_arrow.svg") no-repeat;
}

table.tableSorter th div.sortArrow div.sortArrowDescending {
    background: url("/images/up_arrow.svg") no-repeat;
}

.uk-notification {
    width: auto;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
        rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

.uk-notification-message {
    font-size: unset;
}

.uk-notification-message p {
    max-width: 350px;
    margin: 6px 1em 6px 0;
}

.uk-notification-message span svg {
    color: var(--danger-6);
}

.uk-card-default {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
        rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.mui-shadow1 {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
        rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.mui-light1 {
    box-shadow: rgb(255 255 255 / 20%) 0px 1px 1px -1px,
        rgb(255 255 255 / 14%) 0px 2px 1px 0px,
        rgb(255 255 255 / 12%) 0px 3px 1px 0px;
}

.mui-shadow2 {
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
        rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.mui-shadow3 {
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
        rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

.editable-cell {
    cursor: pointer;
    width: fit-content;
}

.editorActions {
    min-height: 3em;
    padding: 0.4em;
    padding-bottom: 0;
}

.okBorder {
    border-color: var(--primary);
}

.dangerBorder {
    border-color: var(--danger-5);
}

.ace_scrollbar::-webkit-scrollbar,
.ace_scrollbar::-webkit-scrollbar:horizontal {
    width: 0.6em;
    height: 0.4em;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.ace_scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

.ace_scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #1eb4fa, #1e87fe);
}

.ace_scrollbar::-webkit-scrollbar-thumb:horizontal {
    /* background-color: #fff; */
    background: linear-gradient(to top, #1eb4fa, #1e87fe);
    /* outline: 1px solid slategrey; */
}

.uk-tile {
    padding: 5px 10px;
}

p {
    margin: 16px 0;
}

.p0 {
    padding: 0 !important;
}

.editorDims {
    height: 250px;
    border-radius: 10px;
}

.validator {
    position: absolute;
    z-index: 1000;
    top: 1.5em;
    right: 2.5em;
    transition: background-color 0.2s ease-in-out;
}

.error {
    background: var(--danger-6);
}
.error-text {
    color: var(--danger-5);
}

.uk-form-danger,
.uk-form-danger:focus {
    border-width: 2px;
    border-color: var(--danger-6);
    color: var(--danger-5);
}

.overflow-x {
    overflow-y: hidden;
    overflow-x: auto;
}

.uk-input {
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.uk-tooltip {
    font-size: 14px;
}

table,
tbody,
tr,
tr th,
tr td,
.editable,
.cellCont {
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.cellCont {
    position: relative;
}

.minRowHeight {
    /* height: fit-content; */
    /* max-height: 65px !important;
    height: 65px !important;
    min-height: 65px !important; */
}

.cell-inherit-height {
    /* height: inherit; */
}

/* .app_editor_wrapper {
    background-color: #cccccc;
    border-bottom: 4px solid white;
    border-radius: 4px;
} */

.app_editor_dragbar {
    background-color: #222222;
    width: 80%;
    height: 4px;
    cursor: row-resize;
    opacity: 1;

    margin: 4px auto;

    border-radius: 4px 4px 50px 50px;
}

button.uk-button {
    border-radius: var(--br);
}

.specifyBorderRadius {
    border-radius: var(--brCard);
}

.editorCardPadding {
    padding: 0;
    padding-top: 0.5em;
    padding-right: 0.75em;
    padding-bottom: 0.75em;
}

/* all of this not to animate shadows, but opacity instead */
.cardAnimShadow::after {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: var(--brCard);
    /* box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
        rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px; */
    /* box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
        rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px; */
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
        rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;

    opacity: 0;
    transition: opacity var(--uikit-animationDur) ease-in-out;
    margin-top: -0.5em;
}

#tableWrapper.cardAnimShadow::after {
    margin-top: 0;
}

.cardAnimShadow.show::after {
    opacity: 1;
}

.iconbar {
    margin: 3.5em 0.35em 0 0.35em;
}

.icon-pb2px > svg {
    padding-bottom: 2px;
}

.text {
    color: rgb(51, 51, 51);
}
.uk-iconnav > * > a:hover,
.uk-iconnav > * > a:focus {
    color: var(--primary);
}

.uk-icon-button.ripple {
    line-height: inherit;
    font-size: inherit;
    display: flex;
}

.uk-icon-button.ripple svg {
    margin-top: -6%;
}

.cellColorWrapper {
    box-sizing: border-box;
    padding: 1em;
    position: relative;
    border-radius: 0.4em;

    -webkit-transition: background-color var(--uikit-animationDur)
        cubic-bezier(0, 0.71, 1, 1.01);
    -moz-transition: background-color var(--uikit-animationDur)
        cubic-bezier(0, 0.71, 1, 1.01);
    -o-transition: background-color var(--uikit-animationDur)
        cubic-bezier(0, 0.71, 1, 1.01);
    transition: background-color var(--uikit-animationDur)
        cubic-bezier(0, 0.71, 1, 1.01);
}

table p {
    color: var(--black);
}

.cellColorBtn {
    z-index: 1;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
}

.colorBtn {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    border-radius: 50%;
}

.uk-position-cover {
    z-index: 1000;
}

.p12px {
    padding: 12px;
}

.pb2px {
    padding-bottom: 2px;
}

.mr4px {
    margin-right: 4px;
}

.mb6px {
    margin-bottom: 6px;
}

.mb0_5em {
    margin-bottom: 0.5em;
}

.mb12px {
    margin-bottom: 12px;
}

.ml2px {
    margin-left: 2px;
}

.ml4px {
    margin-left: 4px;
}
